/* Global CSS Variables */
:root {
  --black: #2d2a2e;
  --white: #fff;
}
/* Global CSS Variables */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.router-link {
  color: var(--white);
}
